* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    max-width: 1440px;
    background-color: rgb(245, 248, 255);
}

/* shared-styles */
header,
.plants,
.plant-lovers,
.deals{
    max-width: 1240px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

.banner-title,
.plants-title,
.plant-lover-tytle,
.deal-tytle,
.email-title{
    font-size: 4rem;
    font-weight: bold;
    color: black;
}

.banner-para,
.plants-para,
.section-description,
.deal-para {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

/* navbar-styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 120px 0;
}

.nav-links {
    gap: 3rem;
}

.nav-links>li {
    list-style: none;
}

.nav-link,
.nav-cart {
    text-decoration: none;
    color: #8987A1;
}

.nav-link>span {
    color: black;
    font-weight: bold;
}

/* bannner-section-styles */
.banner {
    align-items: end;
    width: 100%;
}

.title-span {
    color: #E95A08;
}

/* our-plants-section */
.plants-title {
    font-size: 3.15rem;
    margin: 120px 0 20px 0;
}

.plants-title-container {
    text-align: center;
}

/* card-section */
.plants-card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
}

.card-img {
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
}

.card-tytle {
    font-size: 1.375rem;
    color: #111111;
    font-weight: 500;
    margin: 10px 0;
}

.card-price {
    font-size: 1.375rem;
    color: #111111;
    font-weight: 600;
    margin: 10px 0;
}

.btn {
    color: white;
    font-weight: 600;
    background-color: #E95A08;
    width: 90%;
    padding: 20px 0;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ef7a36;
    transform: scale(1.05);
    transition: .3s;
}

/* plant-lover-section-styles */
.plant-lovers {
    margin-top: 200px;
    gap: 60px;
    align-items: center;
}

.flower-store-img-container {
    position: relative;
}

.badge {
    width: 287px;
    position: absolute;
    top: -140px;
    right: -100px;
}

.plant-lover-container {
    width: 50%;
}

.section-description {
    margin: 25px 0;
}
/* deals-section-styles */
.tytle-container{
    text-align: center;
    margin-top: 130px;
}
.deal-tytle{
    font-size: 3.1rem;
}
/* deal-banner-style */
.discount{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.shop-now{
    font-weight: 600;
    color: white;
    text-decoration: underline;
}
#zabo{
    font-size: 2.5rem;
}
#zabo-shop{
    font-size: 1.8rem;
}
.bloom{
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url('./assets/deal-bloom.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    width: 366px;
    height: 200px;
    grid-area: bloom;
}
.ana{
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url('./assets/deal-ana.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    width: 366px;
    height: 200px;
    grid-area: ana;
}
.zabo{
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url('./assets/deal-zabo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    width: 753px;
    height: 423.13px;
    grid-area: zabo;

}
.deal-banner-container{
    display: grid;
    grid-template-areas: 
    " bloom zabo zabo"
    " ana   zabo zabo"
    ;
    margin-top: 120px;
    margin-left: 60px;
    row-gap: 25px;
    column-gap: 25px;
}
/* email-section-title */
.email{
    height: 533px;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/news-letter-bg.png');
    background-repeat: no-repeat;
}
.email-container{
    width: 100%;
    text-align: center;
}
.email-title{
    color: white;
    margin-bottom: 20px;
}
.input-email{
    padding:12px 20px;
    width: 50%;
    outline: none;
}
.btn-submit{
    padding: 12px 50px;
    background-color: #E95A08;
    border: none;
    color: white;
    margin-left: -5px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-submit:hover{
    background-color: #ef7a36;
    transform: scale(1.02);
    transition: 0.3s;
}
/* responsive-styles */
@media screen and (max-width:640px) {
    .navbar {
        margin: 10px 16px;
    }

    .nav-list {
        display: none;
    }

    .banner {
        align-items: start;
        flex-direction: column-reverse;
        gap: 1.75rem;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-para {
        margin-top: 1rem;
        font-size: 0.875rem;
    }

    .banner-content {
        margin: 0 16px;
    }

    .banner-img {
        width: 100%;
    }

    .plants-title {
        font-size: 1.5rem;
        margin: 60px 0 20px 0
    }

    .plants-card-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 10px;
    }

    .card-tytle {
        margin-top: 30px;
    }

    .card-para {
        margin-bottom: 20px;
    }

    .plant-lovers {
        margin-top: 50px;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .flower-store-img-container {
        width: 95%;
        justify-content: center;
    }

    .flower-store-img {
        width: 95%;
    }

    .badge {
        display: none;
    }

    .plant-lover-container {
        width: 90%;
    }

    .plant-lover-tytle {
        font-size: 1.5rem;
    }

    .section-description {
        font-size: 0.875rem;
    }
    .tytle-container{
        margin-top: 50px;
    }
    .zabo,.ana,.bloom{
        width: 90%;
    }
    .zabo{
        height: 20vh;
    }
    .deal-banner-container{
        margin-top: 50px;
        grid-template-areas: 
        " bloom "
        " ana   "
        " zabo  "
        ;
    }
}